<div class="fondo" style="background-image: url('assets/patron.jpg')">
<body>
  <div class="title-container">
    <div style="text-align: center" class="title">
      <h1>Cantidad de partidos jugados en una liga especifica</h1>
    </div>
    <div style="text-align: center" class="form-container">
      <form [formGroup]="form" (ngSubmit)="getCantidad()">
        <mat-form-field>
          <mat-label>Liga de los partidos</mat-label>
          <mat-select formControlName="nameligue">
            <mat-option *ngFor="let l of listaligue" [value]="l.nameligue">
              {{ l.nameligue }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('nameligue')?.hasError('required')">
            La liga es obligatoria.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Aceptar</button>
      </form>
    </div>
    <div style="text-align: center" class="chart-container">
      <!-- Gráfico de barras -->
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </div>
</body>
</div>

