<div class="container">
  <div class="title-container">
    <h1 class="title">Lista de Usuarios</h1>
  </div>

  <div class="card-grid">
    <div *ngFor="let user of dataSource.data" class="card-item">
      <mat-card class="example-card" style="border: 2px solid black; border-radius: 3%;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Usuario: {{ user.id  }}</mat-card-title>

        </mat-card-header>

        <mat-card-content>
          <img mat-card-image class="small-image" src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg" alt="user icono" >
          <p>Nombre de usuario: {{ user.username  }}</p>
          <br />
          <p>Correo: {{ user.mail  }}</p>
          <br />
          <p>Dirección: {{ user.address  }}</p>
          <br />
          <p>Celular: {{ user.phone  }}</p>
          <br />
          <p>DNI: {{ user.dni }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button class="edit-button" [routerLink]="['ediciones', user.id]">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-raised-button class="delete-button" (click)="eliminar(user.id)" >
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<br />

<div class="paginator-container">
  <mat-paginator [pageSizeOptions]="[4, 7, 10]" showFirstLastButtons></mat-paginator>

</div>

