<div class="container">
  <div class="title-container"><h1 class="title">Lista roles</h1></div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--LLamado de la tabla independiente User (username)-->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Nombre Usuario</th>
      <td mat-cell *matCellDef="let element"> {{ element.user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ element.tipo }}</td>
    </ng-container>

    <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            [routerLink]="['ediciones', element.id]"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            (click)="eliminar(element.id)"
          >
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<br />

<mat-paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
></mat-paginator>
