mat-form-field {
  width: 50%;
}


/*.titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.container2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}*/
.container {
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
 }

/* Estilos Responsivos */
@media (max-width: 768px) {

  *{
    padding: 10px;
  }
}
