mat-form-field {
    width: 50%;
  }
  .titulo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  .container2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
  