<div class="title-container">
    <div style="text-align: center" class="title">
      <h1>Cantidad de partidos programados de una temporada especifica</h1>
    </div>
    <div style="text-align: center" class="form-container">
      <form [formGroup]="form" (ngSubmit)="getCantidad()">
        <mat-form-field>
          <mat-label>Temporada de los partidos</mat-label>
          <input matInput formControlName="year" type="number" required />
          <mat-error *ngIf="form.get('year')?.hasError('required')">
            La temporada es obligatoria.
          </mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Aceptar</button>
      </form>
    </div>
    <div style="text-align: center" class="chart-container">
      <!-- Gráfico de barras -->
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [type]="barChartType"
      >
      </canvas>
    </div>
  </div>
