<div class="title-container">
  <div class="title-container"><h1>Registro</h1></div>
  <form [formGroup]="form" (submit)="registrar()">
    <mat-form-field>
      <input matInput placeholder="Ingrese su username" formControlName="username" />
      <mat-error *ngIf="form.get('username')?.hasError('required')">
        Ingresar el username es obligatorio</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <input matInput placeholder="Ingrese su contraseña" formControlName="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Ingresar contraseña es obligatorio </mat-error>
    </mat-form-field>


    <br />

    <mat-form-field>
      <input matInput placeholder="Ingrese su correo electrónico" formControlName="mail" />
      <mat-error *ngIf="form.get('mail')?.hasError('required')">
        El correo electrónico es obligatoria.</mat-error
      >
    </mat-form-field>

    <br />


    <mat-form-field>
        <mat-select formControlName="estado" placeholder="Ingrese el estado">
          <mat-option *ngFor="let user of listaestados" [value]="user.value">
            {{ user.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('estado')?.hasError('required')">
          El estado es obligatorio.
        </mat-error>
      </mat-form-field>




    <br />

    <mat-form-field>
      <input matInput placeholder="Ingrese su dirección " formControlName="address" />
      <mat-error *ngIf="form.get('address')?.hasError('required')">
        Ingresar la dirección es obligatorio</mat-error>

    </mat-form-field>
    <br />




    <mat-form-field>
      <input matInput placeholder="Ingrese su número de celular" formControlName="phone" />
      <mat-error *ngIf="form.get('phone')?.hasError('required')">
        Ingresar el celular es obligatorio</mat-error
      >
      <mat-error *ngIf="form.get('phone')?.hasError('pattern')">
        Solo se permiten números</mat-error
      >
    </mat-form-field>



    <br />
    <mat-form-field>
      <input matInput placeholder="Ingrese su DNI" formControlName="dni" />
      <mat-error *ngIf="form.get('dni')?.hasError('required')">
        El dni es obligatoria.</mat-error
      >
      <mat-error *ngIf="form.get('dni')?.hasError('pattern')">
        Solo se permiten números</mat-error
      >
    </mat-form-field>
    <br />


<mat-form-field>
    <mat-select formControlName="enabled" placeholder="Ingrese el valor">
      <mat-option *ngFor="let user of listaestados" [value]="user.value">
        {{ user.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('enabled')?.hasError('required')">
      El valor es obligatorio.
    </mat-error>
  </mat-form-field>

  <br />

    <button mat-raised-button color="primary">Registrar</button>
  </form>
</div>
