<body class="fondo" style="background-image: url('assets/patron.jpg')">
  <div class="register-container">
    <h1 class="tituloBox">Registro de Usuarios</h1>
    <form [formGroup]="form" (submit)="registrar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label class="textoBox">Codigo</mat-label>
        <input
          matInput
          placeholder="Codigo"
          formControlName="codigo"
          readonly
        />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label class="textoBox">Usuario</mat-label>
        <input
          matInput
          placeholder="Ingrese su username"
          formControlName="username"
        />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          Ingresar el usuario es obligatorio</mat-error
        >
      </mat-form-field>

      <br />

      <mat-form-field *ngIf="!edicion">
        <mat-label class="textoBox">Contraseña</mat-label>
        <input
          type="password"
          [(ngModel)]="password"
          matInput
          placeholder="Ingrese su contraseña"
          formControlName="password"
        />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Ingresar contraseña es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label class="textoBox">Correo</mat-label>
        <input
          matInput
          placeholder="Ingrese su correo electrónico"
          formControlName="mail"
        />
        <mat-error *ngIf="form.get('mail')?.hasError('required')">
          El correo electrónico es obligatoria.</mat-error
        >
        <mat-error *ngIf="form.get('mail')?.hasError('email')">
          Ingrese un correo electronico valido</mat-error
        >
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label class="textoBox">Estado</mat-label>
        <mat-select formControlName="estado" placeholder="Ingrese el estado">
          <mat-option *ngFor="let user of listaestados" [value]="user.value">
            {{ user.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('estado')?.hasError('required')">
          El estado es obligatorio.
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label class="textoBox">Dirección</mat-label>
        <input
          matInput
          placeholder="Ingrese su dirección"
          formControlName="address"
        />
        <mat-error *ngIf="form.get('address')?.hasError('required')">
          Ingresar la dirección es obligatorio</mat-error
        >
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label class="textoBox">Número de celular</mat-label>
        <input
          matInput
          placeholder="Ingrese su número de celular"
          formControlName="phone"
        />
        <mat-error *ngIf="form.get('phone')?.hasError('required')">
          Ingresar el celular es obligatorio</mat-error
        >
        <mat-error *ngIf="form.get('phone')?.hasError('pattern')">
          Solo se permiten números</mat-error
        >
        <mat-error *ngIf="form.get('phone')?.hasError('minLength')">
          El numero de celular tiene que ser de 9 digitos</mat-error
        >
        <mat-error *ngIf="form.get('phone')?.hasError('maxLength')">
          El numero de celular tiene que ser de 9 digitos</mat-error
        >
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label class="textoBox">DNI</mat-label>
        <input matInput placeholder="Ingrese su DNI" formControlName="dni" />
        <mat-error *ngIf="form.get('dni')?.hasError('required')">
          El dni es obligatoria.</mat-error
        >
        <mat-error *ngIf="form.get('dni')?.hasError('pattern')">
          Solo se permiten números</mat-error
        >
        <mat-error *ngIf="form.get('dni')?.hasError('minLength')">
          El DNI contiene 8 digitos</mat-error
        >
        <mat-error *ngIf="form.get('dni')?.hasError('maxLength')">
          El DNI contiene 8 digitos</mat-error
        >
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label class="textoBox">Enabled</mat-label>
        <mat-select formControlName="enabled" placeholder="Ingrese el valor">
          <mat-option *ngFor="let user of listaestados" [value]="user.value">
            {{ user.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('enabled')?.hasError('required')">
          El valor es obligatorio.
        </mat-error>
      </mat-form-field>

      <br />
      <div class="boton-container">
        <button class="boton" mat-raised-button color="primary">Registrar</button>
      <button class="boton1" mat-raised-button color="warn" routerLink="/listaruser">
        Cancelar
      </button>
      </div>
      
      <br />
      <p>{{ mensaje }}</p>
    </form>
  </div>
</body>
