<div class="title-container"><h1>Registro de Usuarios</h1></div>
<div class="title-container" style="text-align: center">
  <form [formGroup]="form" (submit)="registrar()">

    <mat-form-field class="example-full-width"  *ngIf="edicion" >
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo" formControlName="codigo" readonly/>
    </mat-form-field>

    <br/>

    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingrese su username" formControlName="username"/>
      <mat-error *ngIf="form.get('username')?.hasError('required')">
        Ingresar el usuario es obligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field *ngIf="!edicion">
      <mat-label>Contraseña</mat-label>
      <input type="password" [(ngModel)]="password" matInput placeholder="Ingrese su contraseña" formControlName="password"/>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Ingresar contraseña es obligatorio
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Ingrese su correo electrónico" formControlName="mail"/>
      <mat-error *ngIf="form.get('mail')?.hasError('required')">
        El correo electrónico es obligatoria.</mat-error
      >
      <mat-error *ngIf="form.get('mail')?.hasError('email')">
        Ingrese un correo electronico valido</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado" placeholder="Ingrese el estado">
        <mat-option *ngFor="let user of listaestados" [value]="user.value">
          {{ user.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('estado')?.hasError('required')">
        El estado es obligatorio.
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Ingrese su dirección" formControlName="address"/>
      <mat-error *ngIf="form.get('address')?.hasError('required')">
        Ingresar la dirección es obligatorio</mat-error
      >
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Número de celular</mat-label>
      <input matInput placeholder="Ingrese su número de celular" formControlName="phone"/>
      <mat-error *ngIf="form.get('phone')?.hasError('required')">
        Ingresar el celular es obligatorio</mat-error
      >
      <mat-error *ngIf="form.get('phone')?.hasError('pattern')">
        Solo se permiten números</mat-error
      >
      <mat-error *ngIf="form.get('phone')?.hasError('minLength')">
        El numero de celular tiene que ser de 9 digitos</mat-error
      >
      <mat-error *ngIf="form.get('phone')?.hasError('maxLength')">
        El numero de celular tiene que ser de 9 digitos</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input matInput placeholder="Ingrese su DNI" formControlName="dni" />
      <mat-error *ngIf="form.get('dni')?.hasError('required')">
        El dni es obligatoria.</mat-error
      >
      <mat-error *ngIf="form.get('dni')?.hasError('pattern')">
        Solo se permiten números</mat-error
      >
      <mat-error *ngIf="form.get('dni')?.hasError('minLength')">
        El DNI contiene 8 digitos</mat-error
      >
      <mat-error *ngIf="form.get('dni')?.hasError('maxLength')">
        El DNI contiene 8 digitos</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Enabled</mat-label>
      <mat-select formControlName="enabled" placeholder="Ingrese el valor">
        <mat-option *ngFor="let user of listaestados" [value]="user.value">
          {{ user.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('enabled')?.hasError('required')">
        El valor es obligatorio.
      </mat-error>
    </mat-form-field>

    <br />

    <button mat-raised-button color="primary">Registrar</button>
    <button mat-raised-button color="warn" routerLink="/listaruser">
      Cancelar
    </button>
  </form>
</div>
