body{
   max-width: 100%;
    max-height: 100%;
    
}
.title-container {
  
    text-align: center;

}
.formulario {
    
    background-color: white;
    padding: 20px;
    border-radius: 20px; /*redondeo de las esquinas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto ; /* Ajusta el margen según necesites */
    max-width: 600px; /* Ajusta el ancho máximo según necesites */
  }
  
  
  
  
.fondo{
    background-size: cover;
    display: block;
   
    max-width: 100%;
    max-height: 100%;
}

.title {
    
    font-weight: 600;

    font-size: 2em;

    color: #333;

}

mat-form-field {

    width: 70%;
    

}

.textoBox{
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-top: 15%;
}